

 
body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: teal;
}

.nav {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    background-color: white;
    max-height: 50px;
}

.logo img {
    margin-top: 25px;
    margin-left: 5px;
    height: 50px;
    width: 50px;
}
.nav-list {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 1rem;
    margin: 0px 10px;
    
}
.nav-list li{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    max-height: 100%;
    background-color: white;
    height: 50px;
    display: flex;
    align-items: center;
}

.nav-list li a {
    text-decoration: none;
}

.nav-list li a:hover {
    color: white;
}

.nav-list li:hover {
    background-color: teal;
    color: whitesmoke;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    cursor: pointer;
}

.icon-container {
    display: flex;
    align-content: space-between;
}

#search {
    font-size: 1rem;
    width: 200px;
    height: 20px;
    margin-top: .5rem;

}
.search-container {
    display: flex;
    margin: 0;
}
.icon-container i{
    width: 100%;
    padding: 15px;
    color: teal;
    cursor: pointer;
}

.hide {
    display: none;
}

.banner {
    border: 1px solid black;
    height: 500px;
    width: 100%;
    background-image: url('strawberry.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner-text {
    position: absolute;
    text-align: center;
    color: whitesmoke;
    top: 40%;
    left: 25%;
}

.banner-text h1 {
    font-size: 40px;
}

.banner-text button {
    border: 1px solid white;
    height: 50px;
    width: 150px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: color 1s, background-color 1s;
}

.banner-text button:hover {
    background-color: teal;
    border-color: teal;
    color: white;
    cursor: pointer;
}

.content-headers {
    border: none;
    padding: 1rem 0;
    background-color: white;
    width: 200px;
    margin: 0 0 0 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 999;
    background-color: white;
    position: absolute;
    top: -30px;
    left: 10px;
    transition: tranform 2s;
}

.content-headers:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.top-content-headers {
    border: none;
    padding: 1rem 0;
    background-color: white;
    width: 200px;
    margin: 0 0 0 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 10;
    background-color: white;
    position: absolute;
    top: 89%;
    left: 10px;
    transition: tranform 2s;
}

.prevBtn {
    z-index: 999;
    margin: 40px 0 50px 1px;
    width: 80px;
    height: 200px;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    left: -30px;
    font-size: 40px;
    background-color: teal;
    transition: left .5s ease-out;
}

.prevBtn:hover {
    left: 5px;
    background-color: transparent;
}

.nextBtn {
    z-index: 999;
    margin: 40px 0 10px 1px;
    width: 80px;
    height: 200px;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: -40px;
    background-color: teal;
    font-size: 40px;
    transition: right .5s, ease-out;
}

.nextBtn:hover {
    right: -5px;
    background-color: transparent;
}

.top-container {
    display: flex;
    
    margin: 40px 0 50px 1px;
    max-width: 100%;
    width: auto;
    height: 250px;
    background-color: white;
    position: relative;
    overflow: hidden;
}
.slide {
    display: flex;
    align-content: space-between;
    margin: 0;
    width: 100%;
    height: 250px;
    background-color: white;
    position: relative;
    transition: transform .5s ease-in-out;
    
}
.mid-container {
    display: flex;
    align-content: space-between;
    position: relative;
    margin: 40px 0 50px 1px;
    
    height: 250px;
    background-color: white;
}
.end-container {
    display: flex;
    align-content: space-between;
    position: relative;
    margin: 40px 0 50px 1px;
    
    height: 250px;
    background-color: white;
    width: auto;
    
}

.content {
    border-radius: 10px;
    height: 200px;
    width: 300px;
    margin: 40px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.content img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: .5s;
}

.content img:hover {
    transform: scale(1.1);
    cursor: pointer;
    z-index: 999;
}

.link {
    z-index: 10;
    font-size: 10px;
    height: 25px;
    width: 50px;
    position: absolute;
    padding: 10px 10px 0px 10px;
    right: 10%;
    text-align: center;
}

.link a {
    text-decoration: none;
    transition: transform 2s;
    
}

.link:hover {
    transform: scale(1.3);
    
}

.footer {
    position: relative;
    left: 18%;
    max-width: 100%;
    width: 800px;
    border: 1px solid black;
    height: 400px;
    background-color: white;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    border-radius: 10px;
}

.article {
    position: absolute;
}
.events {
    margin-left: 10px;
    border: 1px solid black;
    height: 300px;
    width: 300px;
    transition: background-color 2s, color 2s;
    grid-column: 1;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, .5);
    background-image: url('pattern1.jpg');
    background-repeat: none;
    background-size: cover;
    color: teal;
    line-height: 2;
}

.event-header {
    margin-left: 10px;
    
}
small {
    font-size: 14px;
}



.events:hover {
    background-color: purple;
    color: white;
    cursor: pointer;
}

.event.active {
    margin: 10px;
    font-size: 12px;
    width: 280px;
    display: block;
}

.event {
    display: none;
}

.event-title-container {
    display: flex;
    margin: 5px;
}

.event-title.active {
    border: 2px solid teal;
    width: 50%;
    padding-left: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 20px;
    background-color: whitesmoke;
}


.event-title {
    border: 2px solid teal;
    width: 50%;
    padding-left: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 20px;
    transition: background-color 1s;
}



.event-title:hover {
    background-color: whitesmoke;
    color: teal;
}


.event img {
    border: 1px solid black;
    width: 125px;
    height: 125px;
    margin-bottom: 5px;
    border-radius: 5px;
}

/*.next-event {
    margin: 10px;
    font-size: 12px;
    width: 280px;
    display: ;
}

.next-event img {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}
*/

.custom-order-header {
    margin: 0;
    grid-column: 2;
    grid-row: 1;
    font-size: 20px;
}

.custom-orders {
    border: 1px solid black;
    height: 300px;
    width: 300px;
    transition: background-color 2s, color 2s;
    grid-column: 2;
    grid-row: 2;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, .5);
    padding: 10px;
    text-align: center;
}

.custom-orders:hover {
    background-color: plum;
    color: white;
    cursor: pointer;
}

.custom-orders-button {
    border: 1px solid teal;
    padding: 10px;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    background-color: teal;
    color: white;
    cursor: pointer;
    transition: transform 1s, background-color 1s, color 1s;
}

.custom-orders-button:hover {
    transform: scale(1.1);
    color: teal;
    background-color: white;
}

.custom-orders img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

footer {
    
    height: 100px;
    width: auto;
    text-align: center;
    
    background-color: white;
    margin-top: 50px;
    
}

footer div small{
    text-align: center;
    border: 1px solid black;
}




